<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.19.0.0" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.32-beta" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.0.17-beta" targetFramework="net45" />
  <package id="xunit.runners" version="2.0.0-beta4-build2738" targetFramework="net45" />
</packages>