<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="xunit.console.netcore" version="1.0.2-prerelease-00022" />
  <package id="xunit.runner.dependencies.netcore" version="1.0.1-prerelease" />
  <package id="Microsoft.DotNet.TestHost" version="1.0.4-prerelease" />
  <package id="Microsoft.DotNet.CoreCLR" version="1.0.3-prerelease" />
  <package id="Microsoft.DotNet.PerfTools" version="0.0.1-prerelease-00022" />

  <package id="OpenCover" version="4.5.3809-rc94" />
  <package id="coveralls.io" version="1.4" />
  <package id="ReportGenerator" version="2.0.4.0" />
</packages>
